/* Set basic styling for the page */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: rgb(192, 192, 192);
        /* Silver */
}

/* Set background color for the entire form container */
.container {
    margin: 50px auto;
    padding: 20px;
    max-width: 800px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}
/* Center-align the h2 element */
h2 {
    text-align: center;
    margin-bottom: 20px;
    /* Add some space below the heading */
}
/* Style for the form tabs */
.tab {
    display: none;
    padding: 20px 0;
}

/* Style for the form headings */
h2,
h3 {
    color: #333;
}

/* Style for the form labels */
label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
    color: #555;
}

/* Style for the form input fields */
input[type="text"],
input[type="email"],
input[type="tel"] {
    width: 98%;
    padding: 8px;
    /* Adjust padding here */
    margin-bottom: 10px;
    /* Adjust margin here */
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
}

/* Style for the Next/Previous buttons */
#prevBtn,
#nextBtn {
    padding: 10px 20px;
    font-weight: bold;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* Style for the Next/Previous buttons on hover */
#prevBtn:hover,
#nextBtn:hover {
    background-color: #0056b3;
}

/* Style for the step indicators */
.step {
    height: 12px;
    width: 12px;
    margin: 0 2px;
    background-color: #ccc;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.6;
    transition: background-color 0.3s;
}

/* Style for the active step indicator */
.step.active {
    background-color: #007bff;
    opacity: 1;
}

/* Set background color for the data display section */
#dataDisplay {
    margin-top: 20px;
    padding: 20px;
    background-color: #ffffff;
    /* Change this to your desired background color */
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    color: #333;
}